
.navbar{
    background-color: rgba(255,255,255,0.6);
    height: 80px;
    margin: 20px;
    border-radius:16px;
    padding: 0.5rem;
    
}

.navbar-brand{
    font-weight: 500;
    color:rgb(98, 15, 175);
    font-size: 24px;
    transition: 0.3s color;
}

.login-button{
    background-color: rgb(98, 15, 175);
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: rgb(160, 63, 250);
}

.navbar-toggler{
    border:none;
    font-size: 1.25rem;
}

.navbar-toggler:focus .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color:black;
}

@media (min-width: 991px){

    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: rgb(98, 15, 175);
        visibility: hidden;
        transition: 0.1s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.hero-section{
    background: url(../img/fondo.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    margin-top: 250px;
    width: 100%;
    max-width: 700px;
    background: rgba(255,255,255,0.2);
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 10px 20px;
}

.search-bar input{
    border: 0;
    background: transparent;
    outline: none;
    flex: 1;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}

::placeholder{
    color: #cac7ff;
}

.search-bar button{
    background: rgb(98, 15, 175);
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    border: 1px solid lightblue;
    border-radius: 4px;
    padding: 0;
    width: 100%;
    max-height: 140px;
    overflow-y: auto;
    background-color: rgb(63, 2, 55);
    
  }
  
.dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
.dropdown-item:hover {
    background-color: rgb(146, 38, 123);
    
  }

.div-text{
    text-decoration: none;
    color: white;
    
  }

.btn-primary, .btn-secondary, .btn-success {
    
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 7px;
    margin-right: 7px;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 200px;
}

.btn-primary{
    background-color: rgb(24, 148, 206);
    color: #fff;
}

.btn-secondary{
    background-color: rgb(228, 152, 12);
    color: #fff;
}

.btn-success{
    background-color: rgb(146, 38, 123);
    color: #fff;
}

.btn-primary:hover{
    background-color: rgb(5, 84, 121);
    color: #fff;
}

.btn-secondary:hover{
    background-color: rgb(121, 121, 5);
    color: #fff;
}

.btn-success:hover{
    background-color: rgb(99, 27, 83);
    color: #fff;
}


